//Universal styles
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: white;
}

img {
  filter: invert(1);
}
// video
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  z-index: -5;
  filter: saturate(2);
}
.filter {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(13, 158, 255, 0.2);
}
//header
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 4rem;
  img {
    transform: scale(0.65);
    cursor: pointer;
  }
  .logo {
    font-weight: 800;
    font-size: 3.6rem;
    pointer-events: none;
  }
}

//text
.text {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  h1 {
    font-size: 14.4rem;
    pointer-events: none;
  }
  h2 {
    font-size: 9.6rem;
    margin-bottom: 3rem;
    pointer-events: none;
  }
  a {
    font-weight: bold;
    color: rgb(32, 32, 32);
    text-decoration: none;
    font-size: 2.4rem;
    background: white;
    width: 15rem;
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.3s;
    &:hover {
      letter-spacing: 3px;
    }
  }
}

//social icons
.social {
  margin-left: 4.2%;
  width: 25rem;
  display: flex;
  align-items: center;
  img {
    transform: scale(0.6);
    transition: 0.3s;
    padding-right: 3rem;
    cursor: pointer;
    &:hover {
      transform: translateY(-1.5rem);
    }
  }
}
//animations
.body-menu {
  width: 75%;
  transition: 0.3s;
}

.side-menu {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  background: lightblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 2.4rem;
  background: rgb(228, 228, 228);
  transition: 0.3s;
  ul {
    list-style: none;
    a {
      text-decoration: none;
      li {
        padding-bottom: 2rem;
        color: #03dbe1;
        transition: 0.2s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
